<template>
  <div class="container-fluid background p-0 d-flex flex-column justify-content-center text-center">
    <div class="col-lg-4 col-sm-12 align-self-center bordered-section">
      <div v-if="showInstructions">
        <h1 class="blue">Instructions</h1>
        <p class="yellow instructions" >This game simulates the game of craps played according to standard Nevada craps table rules.  
          That is: 
          <ol>
            <li>A 7 or 11 on the first roll wins</li>
            <li>A 2, 3, or 12 on the first roll loses</li>
            <li>Any other number rolled becomes your "point."  You continue to roll; if you get your point, you win.  If you roll a 7, you lose and the dice changes hands when this happens.</li>
          </ol>
        </p>
        <button class="btn btn-success roll-btn" @click="hideInstructions" >Let's Play</button>
      </div>
      <div v-else>
      <h1 class="title m-b-md blue">{{title}}</h1>
      <div class="pull-right">
        <h3 v-bind:class="{green: (bank > 0), red: (bank < 0)}">Bank ${{ bank }}</h3>
        <div class="row yellow text-center" style="min-height: 3rem;">
          <h3 class="col align-self-center" v-if="hasPointSet">Current Point Set to: {{ point }}</h3>
        </div>
      </div>
      <div class="row" style="min-height:200px;">
        <div
          v-if="showDice"
          class="col align-self-center justify-content-around d-flex"
          style="width:auto; flex-direction: row;"
        >
          <dice class :value="dice1" />
          <dice class :value="dice2" />
        </div>
      </div>
      <h3 class="yellow" style="min-height: 34px;">{{ message }}</h3>
      <button class="btn btn-success roll-btn" @click="roll">Roll</button>
      <br /></div>
    </div>
  </div>
</template>
<script lang="ts">
import * as games from "../../src/Craps";
import Dice from "./Dice.vue";

export default {
  components: {
    Dice
  },
  data: function() {
    return {
      title: "Craps",
      game: new games.Craps(),
      message: "",
      dice1: null,
      dice2: null,
      point: null,
      bank: 100,
      bet: 10,
      onhold: 0,
      showInstructions: true
    };
  },
  computed: {
    showDice: function() {
      if (this.dice1 > 0 && this.dice2 > 0) return true;
      return false;
    },
    hasPointSet: function() {
      return this.point > 0;
    }
  },
  methods: {
    roll: function() {
      this.message = this.game.roll();
      this.dice1 = this.game.dice1.value;
      this.dice2 = this.game.dice2.value;
      this.point = this.game.current_point;
      this.onhold = this.bet * this.game.offset;
      if (this.game.current_point == null) {
        this.bank = this.bank + this.onhold;
      }
    },
    hideInstructions: function() {
      this.showInstructions = false;
    }
  }
};
</script>
<style scoped>
/*.background {*/
/*font-family: "Ubuntu Condensed", sans-serif !important;*/
/* background-color: #000 !important;*/
/*display: flex;
  justify-content: center;
  flex-direction: column;*/
/*}*/

.placeholder {
  /*height: 100px;
  width: 100px;
  padding: 50px;*/
  margin: 50px auto;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 80px;
  text-align: center;
  justify-content: center;
  align-content: center;
}
.roll-btn {
  padding: 1em 3em;
  text-transform: uppercase;
  margin: 1em;
  font-size: 1em;
  min-height: 1.5em;
}

.green {
  color: #00ff00;
}

.purple {
  color: #6e0dd0;
}

.yellow {
  color: #ffff33;
}

.blue {
  color: #0062ff;
}

.red {
  color: #fd1c03;
}

.bordered-section {
  border: 1px white solid;
  background-color: #000;
  padding: 1em;
  min-height: 478px;
}

@media (max-width: 767px) {
  .bordered-section {
    border-radius: 1em;
  }
}

.instructions {
  font-size-adjust: 1;
  line-height: 2em;
}
</style>