<!--<template>
  <div>
    <button id="roll" type="button">Click to roll</button>
    <div id="die" class="dice"></div>
  </div>
</template>-->
<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: ["value"],
  data: function() {
    return {};
  },
  render: function(createElement) {
    let cls = "odd-";
    if (this.value % 2 === 0) {
      cls = "even-";
    }
    //$("#die").empty();

    var children = [];
    for (let i = 1; i <= this.value; i++) {
      var element = createElement("div", { class: "dot " + cls + i }, []);

      //$("#die").append('<div class="dot ' + cls + i + '"></div>');
      children.push(element);
    }
    return createElement("div", { class: "dice" }, children);
  }
});
</script>
<style>
.dice {
  position: relative;
  margin: 8px;
  border: solid 3px #aaa;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  background-color: whitesmoke;
}

.dice .dot {
  position: absolute;
  background: #000;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  transform: translate(-8px, -8px);
}

.odd-1 {
  top: 50%;
  left: 50%;
}

.even-1,
.odd-2 {
  top: 25%;
  left: 25%;
}

.even-2,
.odd-3 {
  top: 75%;
  left: 75%;
}

.even-3,
.odd-4 {
  top: 75%;
  left: 25%;
}

.even-4,
.odd-5 {
  top: 25%;
  left: 75%;
}

.even-5 {
  top: 50%;
  left: 75%;
}

.even-6 {
  top: 50%;
  left: 25%;
}
</style>