<template>
  <div id="app">
    <craps />
  </div>
</template>

<script>
import Craps from "./components/Craps";

export default {
  name: "app",
  components: {
    Craps
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Condensed&display=swap");

#app {
  font-family: "Ubuntu Condensed", "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

[v-cloak] {
  display: none;
}
</style>
